# Volume-Synchronized Probability of Informed Trading (VPIN)

$\text{VPIN}_\tau = \frac{|V_\tau^\text{buy} - V_\tau^\text{sell}|}{V_\tau^\text{buy} + V_\tau^\text{sell}}$, where $\tau$ is the 10-minute interval.

In [2]:
# import packages
import numpy as np
import pandas as pd

# Paths tricks
import os
from pathlib import Path

In [12]:
# some functions
def select_stock_book(book_path,stock_id,time_id=-1):
    
    stock_path = os.path.join(book_path, 'stock_id=' + str(stock_id))
    book = pd.read_parquet(stock_path)
    
    if time_id != -1: 
        book = book[book['time_id'] == time_id]
        
    return book

def select_stock_trades(trade_path,stock_id,time_id=-1):
    
    trade_path = os.path.join(trade_path, 'stock_id=' + str(stock_id))
    trades = pd.read_parquet(trade_path)
    
    if time_id != -1: 
        trades = trades[trades['time_id'] == time_id]
        
    return trades

In [24]:
# load the data
datapath = os.path.join(str(Path.home()), 'ownCloud', 'Data', 'Kaggle', 'optiver-realized-volatility-prediction')

book = select_stock_book(book_path=os.path.join(datapath, 'book_train.parquet'), stock_id=0)
trades = select_stock_trades(trade_path=os.path.join(datapath, 'trade_train.parquet'), stock_id=0)

In [26]:
trades

        time_id  seconds_in_bucket     price  size  order_count
0             5                 21  1.002301   326           12
1             5                 46  1.002778   128            4
2             5                 50  1.002818    55            1
3             5                 57  1.003155   121            5
4             5                 68  1.003646     4            1
...         ...                ...       ...   ...          ...
123438    32767                471  0.998659   200            3
123439    32767                517  0.998515    90            1
123440    32767                523  0.998563     1            1
123441    32767                542  0.998803    90            4
123442    32767                567  0.998547   300            3

[123443 rows x 5 columns]